In [1]:
import os

import sqlite3
import pandas as pd

In [2]:
# Path to the root directory of datasci
dthon_path = os.path.join(os.path.expanduser('~'), 'Projects','datasci')
dthon_db = os.path.join(dthon_path, "melbourne-datathon","data","medi.db")
# Run this first to create database connection
conn = sqlite3.connect(dthon_db)

In [4]:
# Anthonies query
sql = """
SELECT t.Prescription_Week, COUNT(Prescriber_ID) as c
        FROM transactions t
        JOIN ChronicIllness_LookUp l ON t.Drug_ID = l.MasterProductID
        JOIN patients p on p.Patient_ID = t.Patient_ID 
        WHERE l.ChronicIllness = 'Depression'
        AND p.postcode LIKE '3%'
        GROUP BY t.Prescription_Week
        ORDER BY t.Prescription_Week
        LIMIT 10
"""

%time df = pd.read_sql_query(sql, conn)
df.head()

CPU times: user 27.8 s, sys: 26.6 s, total: 54.4 s
Wall time: 4min 39s

  Prescription_Week   c
0        2009-08-30   1
1        2009-12-06   1
2        2010-01-03   5
3        2010-01-10   5
4        2010-01-17  14

In [6]:
# Anthonies query adam fix
sql = """
SELECT t.Prescription_Week, COUNT(Prescriber_ID) as c
        FROM transactions t
        JOIN ChronicIllness_LookUp l ON t.Drug_ID = l.MasterProductID
        WHERE l.ChronicIllness = 'Depression'
        AND Patient_ID IN (
            SELECT Patient_ID FROM patients
            WHERE postcode LIKE '3%'
        )
        GROUP BY t.Prescription_Week
        ORDER BY t.Prescription_Week
        LIMIT 10
"""

%time df = pd.read_sql_query(sql, conn)
df.head()

CPU times: user 22.1 s, sys: 26.2 s, total: 48.3 s
Wall time: 4min 46s

  Prescription_Week   c
0        2009-08-30   1
1        2009-12-06   1
2        2010-01-03   5
3        2010-01-10   5
4        2010-01-17  14

In [35]:
sql = """
    SELECT MasterProductID, count(*) as c FROM Drug_LookUp
    GROUP BY MasterProductID
    HAVING c != 1
"""

df = pd.read_sql_query(sql, conn)
df.head()

Empty DataFrame
Columns: [MasterProductID, c]
Index: []

In [11]:
sql = """
    SELECT * FROM ChronicIllness_LookUp;
"""

df = pd.read_sql_query(sql, conn)
df.head()

   ChronicIllness  MasterProductID              MasterProductFullName
0  ChronicIllness  MasterProductID              MasterProductFullName
1        Diabetes              141        ACTOS TAB 30MG (AS HCL) 28
2        Diabetes              142        ACTOS TAB 45MG (AS HCL) 28
3    Osteoporosis              146  ACTONEL ONCE-A-MONTH TAB 150MG 1
4    Osteoporosis              267            ALENDROBELL TAB 70MG 4

In [40]:
# How many drugs treat multiple diseases
sql = """
    SELECT ci.ChronicIllness, ci.MasterProductID
    FROM ChronicIllness_LookUp ci
    WHERE ci.MasterProductID IN (
        SELECT MasterProductID
        FROM ChronicIllness_LookUp ci2
        WHERE ci2.ChronicIllness != ci.ChronicIllness);
"""

pd.read_sql_query(sql, conn)

Empty DataFrame
Columns: [ChronicIllness, MasterProductID]
Index: []

In [4]:
# Any Drug transactions not from a chronic illness?
sql = """
    SELECT Drug_ID
    FROM transactions
    WHERE Drug_ID NOT IN (
        SELECT MasterProductID
        FROM ChronicIllness_LookUp
        GROUP BY MasterProductID
    )
"""
%time df_tc = pd.read_sql_query(sql, conn)

CPU times: user 1min, sys: 5.89 s, total: 1min 6s
Wall time: 1min 43s

In [50]:
# Any Drug transactions not from a chronic illness?
sql = """
    SELECT MasterProductID
    FROM ChronicIllness_LookUp
    WHERE MasterProductID NOT IN (
        SELECT Drug_ID
        FROM transactions
        GROUP BY Drug_ID
    )
    GROUP BY MasterProductID
"""
%time df_ct = pd.read_sql_query(sql, conn)

CPU times: user 14.8 s, sys: 579 ms, total: 15.4 s
Wall time: 15.6 s

In [5]:
df_tc

          Drug_ID
0              13
1              13
2              13
3              13
4              13
5              13
6              13
7              13
8              13
9              13
10             13
11             13
12             13
13             13
14             13
15             13
16             13
17             13
18             13
19             13
20             13
21             13
22             13
23             13
24             13
25             13
26             13
27             13
28             13
29             13
...           ...
27988262  Drug_ID
27988263  Drug_ID
27988264  Drug_ID
27988265  Drug_ID
27988266  Drug_ID
27988267  Drug_ID
27988268  Drug_ID
27988269  Drug_ID
27988270  Drug_ID
27988271  Drug_ID
27988272  Drug_ID
27988273  Drug_ID
27988274  Drug_ID
27988275  Drug_ID
27988276  Drug_ID
27988277  Drug_ID
27988278  Drug_ID
27988279  Drug_ID
27988280  Drug_ID
27988281  Drug_ID
27988282  Drug_ID
27988283  Drug_ID
27988284  Drug_ID
27988285  Drug_ID
27988286  Drug_ID
27988287  Drug_ID
27988288  Drug_ID
27988289  Drug_ID
27988290  Drug_ID
27988291  Drug_ID

[27988292 rows x 1 columns]

In [47]:
df_ct

     MasterProductID
0                146
1                273
2                297
3                428
4                429
5                551
6                579
7                705
8                771
9                773
10               775
11               776
12               867
13               868
14               869
15              1003
16              1762
17              1763
18              1824
19              1825
20              1831
21              1832
22              1833
23              1834
24              1835
25              1837
26              1838
27              1863
28              1865
29              1867
..               ...
209            12694
210            12695
211            12776
212            12817
213            13100
214            13121
215            13125
216            13136
217            13153
218            13154
219            13160
220            13161
221            13162
222            13170
223            13362
224            13524
225            13525
226            13533
227            13534
228            13618
229            13619
230            13620
231            13621
232            13622
233            13750
234            13751
235            13752
236            13754
237            13755
238  MasterProductID

[239 rows x 1 columns]